<section class="special-area bg-white section_padding_100" id="bots">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading Area -->
        <div class="section-heading text-center">
          <h2>Which bot would you like to learn more about?</h2>
          <div class="line-shape"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Special Area -->
      <div class="col-12 col-md-4">
        <div
          class="single-special text-center wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div class="single-icon">
            <a href="https://mee6.github.io/Mee6-documentation/"
              ><img src="/img/bg-img/mee6.png" alt="MEE6" width="85" height="85"
            /></a>
          </div>
          <h4><a href="/bots/mee6">MEE6</a></h4>
          <p>That Discord bot everyone has</p>
        </div>
      </div>
      <!-- Single Special Area -->
      <div class="col-12 col-md-4">
        <div
          class="single-special text-center wow fadeInUp"
          data-wow-delay="0.4s"
        >
          <div class="single-icon">
            <a href="https://shpee.dankzone.ml/docs"
              ><img
                src="/img/bg-img/shpee.jpg"
                alt="Shpee"
                width="85"
                height="85"
            /></a>
          </div>
          <h4><a href="https://shpee.dankzone.ml/docs">Shpee</a></h4>
          <p>Custom Discord bot by LeoDoesThings</p>
        </div>
      </div>
      <!-- Single Special Area -->
      <div class="col-12 col-md-4">
        <div
          class="single-special text-center wow fadeInUp"
          data-wow-delay="0.6s"
        >
          <div class="single-icon">
            <a href="https://idlerpg.travitia.xyz/commands/"
              ><img
                src="/img/bg-img/idlerpg.png"
                alt="IdleRPG"
                width="85"
                height="85"
            /></a>
          </div>
          <h4><a href="https://idlerpg.travitia.xyz/commands/">IdleRPG</a></h4>
          <p>Get rewarded for doing nothing</p>
        </div>
      </div>
    </div>
  </div>
</section>
