    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>We love feedback!<br/> Send us an email!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p></p>
                    </div>
                    <div class="address-text">
                        <p></p>
                    </div>
                    <div class="phone-text">
                        <p></p>
                    </div>
                    <div class="email-text">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                      <p>
                        Contact us through one of the options below:<br/>
                        <br/>
                        DankZone Support: <a href="https://dankzone.freshdesk.com/support/home">https://dankzone.freshdesk.com/</a><br/>
                        Primary Email: <a href="mailto:support@dankzone.ml">support@dankzone.ml</a><br/>
                        Secondary Email: <a href="mailto:dankzonediscord@gmail.com">dankzonediscord@gmail.com</a>
                      </p>
                            <!-- Message Input Area End -->
                    </div>
                </div>
            </div>
        </div>
    </section>