    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Dz</h2>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://dankzone.freshdesk.com/support/solutions/articles/48000020412-terms-and-conditions">Terms</a></li>
                    <li><a href="https://dankzone.freshdesk.com/support/solutions/articles/48000020411-privacy-policy">Privacy</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>
              Copyright &copy; 2018<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, DankZone | Original site design by <a href="https://colorlib.com" target="_blank">Colorlib</a><br/>
              <br/>
              <b>DankZone is not affiliated with Discord.</b><br/>
              <b>DankZone is not affiliated with Minecraft, Mojang, or Microsoft.</b>
          </p>
        </div>
    </footer>