<header class="header_area animated">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Menu Area Start -->
      <div class="col-12 col-lg-10">
        <div class="menu_area">
          <nav
            id="navbar-main"
            class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light"
          >
            <div class="container">
              <!-- Logo -->
              <a class="navbar-brand-dz" href="/">Dz</a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar_global"
                aria-controls="navbar_global"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                  <div class="row">
                    <div class="col-6 collapse-brand">
                      <!-- Logo -->
                      <a class="navbar-brand-dz-black" href="/">Dz</a>
                    </div>
                    <div class="col-6 collapse-close">
                      <button
                        type="button"
                        class="navbar-toggler"
                        data-toggle="collapse"
                        data-target="#navbar_global"
                        aria-controls="navbar_global"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                      >
                        <span></span>
                        <span></span>
                      </button>
                    </div>
                  </div>
                </div>
                <ul class="navbar-nav ml-auto" id="nav">
                  <li class="nav-item">
                    <a class="nav-link-dz" href="/home">Home</a>
                  </li>

                  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                      <a
                        href="#"
                        class="nav-item nav-link-dz"
                        data-toggle="dropdown"
                        role="button"
                      >
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        <span class="nav-link-inner--text">About</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-lg">
                        <div class="dropdown-menu-inner">
                          <a
                            href="/about"
                            class="media d-flex align-items-center"
                          >
                            <div
                              class="icon icon-shape bg-gradient-primary rounded-circle text-white"
                            >
                              <i class="fas fa-info-circle"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="heading text-primary mb-md-1">
                                About DankZone
                              </h6>
                            </div>
                          </a>
                          <a
                            href="/pricing"
                            class="media d-flex align-items-center"
                          >
                            <div
                              class="icon icon-shape bg-gradient-success rounded-circle text-white"
                            >
                              <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="heading text-primary mb-md-1">
                                Pricing
                              </h6>
                            </div>
                          </a>
                          <a
                            href="/home#team"
                            class="media d-flex align-items-center"
                          >
                            <div
                              class="icon icon-shape bg-gradient-warning rounded-circle text-white"
                            >
                              <i class="fas fa-users"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h5 class="heading text-warning mb-md-1">
                                Team
                              </h5>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                      <a
                        href="#"
                        class="nav-item nav-link-dz"
                        data-toggle="dropdown"
                        role="button"
                      >
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        <span class="nav-link-inner--text">Contact</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-lg">
                        <div class="dropdown-menu-inner">
                          <a
                            href="https://support.dankzone.xyz"
                            class="media d-flex align-items-center"
                          >
                            <div
                              class="icon icon-shape bg-gradient-success rounded-circle text-white"
                            >
                              <i class="fas fa-question-circle"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="heading text-primary mb-md-1">
                                Support Portal
                              </h6>
                            </div>
                          </a>
                          <a
                            href="mailto:support@dankzone.xyz"
                            class="media d-flex align-items-center"
                          >
                            <div
                              class="icon icon-shape bg-gradient-warning rounded-circle text-white"
                            >
                              <i class="fas fa-at"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="heading text-primary mb-md-1">
                                Email
                              </h6>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                      <a
                        href="#"
                        class="nav-item nav-link-dz"
                        data-toggle="dropdown"
                        role="button"
                      >
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        <span class="nav-link-inner--text">Discord</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-lg">
                        <div class="dropdown-menu-inner">
                          <a
                            href="https://discord.dankzone.xyz"
                            class="media d-flex align-items-center"
                          >
                            <div
                              class="icon icon-shape bg-gradient-primary rounded-circle text-white"
                            >
                              <i class="fab fa-discord"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="heading text-primary mb-md-1">
                                DankZone Discord
                              </h6>
                            </div>
                          </a>
                          <a
                            href="/bots"
                            class="media d-flex align-items-center"
                          >
                            <div
                              class="icon icon-shape bg-gradient-success rounded-circle text-white"
                            >
                              <i class="fas fa-terminal"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="heading text-primary mb-md-1">
                                Bots
                              </h6>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                      <a
                        href="#"
                        class="nav-item nav-link-dz"
                        data-toggle="dropdown"
                        role="button"
                      >
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        <span class="nav-link-inner--text">Minecraft</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-lg">
                        <div class="dropdown-menu-inner">
                          <a href="#" class="media d-flex align-items-center">
                            <div
                              class="icon icon-shape bg-gradient-danger rounded-circle text-white"
                            >
                              <i class="far fa-gem"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="heading text-primary mb-md-1">
                                Coming Soon!
                              </h6>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                      <a
                        class="nav-link nav-link-icon"
                        href="https://link.dankzone.xyz/twitter"
                        target="_blank"
                        data-toggle="tooltip"
                        title=""
                        data-original-title="Follow us on Twitter"
                      >
                        <i class="fab fa-twitter-square fa-lg fa-fw"></i>
                        <span class="nav-link-inner--text d-lg-none"
                          >Twitter</span
                        >
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link nav-link-icon"
                        href="https://github.com/DankZone"
                        target="_blank"
                        data-toggle="tooltip"
                        title=""
                        data-original-title="Star us on Github"
                      >
                        <i class="fab fa-github fa-lg fa-fw"></i>
                        <span class="nav-link-inner--text d-lg-none"
                          >Github</span
                        >
                      </a>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- Login Button -->
      <div class="beamerbutton d-none d-lg-block">
        <a href="https://accounts.dankzone.xyz">Login / Sign up</a>
      </div>
    </div>
  </div>
</header>
