<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Home - DankZone</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">
  
    <!-- Freshchat help-->
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
  
</head>
  
  <!-- Freshchat Help Start-->
  <script>
  window.fcWidget.init({
    token: "602f8117-5b79-43aa-93c3-12b7584aa83e",
    host: "https://wchat.freshchat.com"
  });
</script>
  <!-- Freshchat Help End-->

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>
  
    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="./">Dz</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://discordapp.com/invite/gwamp7n">Discord</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/mcserver">Minecraft Server</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="https://dankzoneteam.glitch.me/">Team Login</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="https://dankzoneteam.glitch.me/">Team Login</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>DankZone</h2>
                        <h3>Dz</h3>
                        <p>The Discord server, not the friend zone.</p>
                    </div>
                    <div class="get-start-area">
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInUp" data-wow-delay="0.5s">
        </div>
    </section>
  
  
    <!-- ***** Wellcome Area End ***** -->
  
    <!-- ***** Description Area Start ***** -->
    <section class="server-description-area section_padding_100" id="description">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Welcome to the DankZone server website!</h2>
                        <div class="line-shape"></div>
                        <h4><br/>This is a website made for our <a href="https://discordapp.com/invite/gwamp7n">Discord</a> and <a href="./mcserver.html">Minecraft</a> server.<br/></h4>
                        <br/>
                        <p>
                        These days a Discord server can be anything.<br/>
                        This server is focused on a building a gaming (and meme) community. The original concept was to be a server only for YouTube viewers, but we've expanded that goal to maybe one day create an esports team from just our Discord server. Don't click off yet! Because we still need to get you into our server. So stick around.<br/>
                        <br/>
                        We have a brief explanation of our Discord server in our <a href="./about.html">about page</a>.<br/>
                        When you join our server we will almost always have an Admin to welcome you and show you around.<br/>
                        We have special roles on our server for people with selected linked accounts (eg: Gamer for linked Steam account)<br/>
                        <br/>
                        We have text channels for almost everything so you can talk about anything.<br/>
                        If you want to talk to a human then we have a few voice channels that are added and removed based on demand.<br/>
                      </p>
                    </div>
                </div>
            </div>
      </div>
  </section>
    <!-- ***** Description Area End ***** -->
    

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="bots">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Which bot would you like to learn more about?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                          <a href="/bots/mee6"><img src="/img/bg-img/mee6.png" alt="MEE6" width="85" height="85"></a>
                            </div>
                      <h4><a href="/bots/mee6">MEE6</a></h4>
                        <p>That Discord bot everyone has</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                          <a href="/bots/shpee"><img src="img/bg-img/shpee.jpg" alt="Shpee" width="85" height="85"></a>
                        </div>
                      <h4><a href="/bots/shpee">Shpee</a></h4>
                        <p>Custom Discord bot by LeoDoesThings</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                          <a href="https://idlerpg.travitia.xyz/commands/"><img src="img/bg-img/idlerpg.png" alt="IdleRPG" width="85" height="85"></a>
                        </div>
                      <h4><a href="https://idlerpg.travitia.xyz/commands/">IdleRPG</a></h4>
                        <p>Get rewarded for doing nothing</p>
                    </div>
                </div>
            </div>
        </div>
     </section>
     <!-- ***** Special Area End ***** -->

    <!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Our Team</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-3.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.youtube.com/channel/UC61EZ-0G6mVuu8ttHVDxryA"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>DhonBuri</h4>
                            <p>CEO/Co-Founder</p>
                        </div>
                    </div>
              </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-1.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.youtube.com/channel/UCvtR1-h7I7GXQ7_XMp4JC2A"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/LeoDoesThingz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/ldt04/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>LeoDoesThings</h4>
                            <p>COO/Co-Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-2.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.youtube.com/channel/UCLbN3R9EzPi8GPoH2S6JBBg"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Whiffle</h4>
                            <p>Co-Founder</p>
                        </div>
                    </div>
                </div>

                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-4.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.youtube.com/channel/UCsO0Uk10Uwail8evggwa7EA"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>ReturnTheBigMac</h4>
                            <p>Co-Founder</p>
                        </div>
                    </div>
                </div>
          </div>
      </div>
    </section>
    <!-- ***** Our Team Area End ***** -->

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>We love feedback!<br/> Send us an email!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p></p>
                    </div>
                    <div class="address-text">
                        <p></p>
                    </div>
                    <div class="phone-text">
                        <p></p>
                    </div>
                    <div class="email-text">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                      <p>
                        Contact us through one of the options below:<br/>
                        <br/>
                        DankZone Support: <a href="https://dankzone.freshdesk.com/support/home">https://dankzone.freshdesk.com/</a><br/>
                        Primary Email: <a href="mailto:dankzonediscord@gmail.com">dankzonediscord@gmail.com</a><br/>
                        Secondary Email: <a href="mailto:dankzonediscord@outlook.com">dankzonediscord@outlook.com</a>
                      </p>
                            <!-- Message Input Area End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->

  
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Dz</h2>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="https://dankzone.freshdesk.com/support/solutions/articles/48000020412-terms-and-conditions">Terms</a></li>
                    <li><a href="https://dankzone.freshdesk.com/support/solutions/articles/48000020411-privacy-policy">Privacy</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>
              Copyright © 2019 DankZone | Original site design by <a href="https://colorlib.com" target="_blank">Colorlib</a><br/>
              <br/>
              <b>DankZone is not affiliated with Discord unless specified otherwise.</b><br/>
              <b>DankZone is not affiliated with Minecraft, Mojang, or Microsoft unless specified otherwise.</b>
          </p>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

  
    <!-- Jquery-2.2.4 JS -->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="/js/active.js"></script>
  
</body>

</html>

