    <section
      class="our-Team-area bg-white section_padding_100_50 clearfix"
      id="team"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <!-- Heading Text  -->
            <div class="section-heading">
              <h2>Our Team</h2>
              <div class="line-shape"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-3.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UC61EZ-0G6mVuu8ttHVDxryA"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="#">
                      <i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>DhonBuri</h4>
                <p>CEO/Co-Founder</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-1.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UCvtR1-h7I7GXQ7_XMp4JC2A"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="https://twitter.com/LeoDoesThingz"
                      ><i class="fab fa-twitter" aria-hidden="true"></i
                    ></a>
                    <a href="mailto:ldt@dankzone.xyz">
                      <i class="fas fa-envelope" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>LeoDoesThings</h4>
                <p>COO/Co-Founder</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-2.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UCLbN3R9EzPi8GPoH2S6JBBg"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="#">
                      <i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>Whiffle</h4>
                <p>Co-Founder</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="single-team-member">
              <div class="member-image">
                <img src="img/team-img/team-4.jpg" alt="" width="300" />
                <div class="team-hover-effects">
                  <div class="team-social-icon">
                    <a
                      href="https://www.youtube.com/channel/UCsO0Uk10Uwail8evggwa7EA"
                    >
                      <i class="fab fa-youtube" aria-hidden="true"></i
                    ></a>
                    <a href="#">
                      <i class="fab fa-instagram" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="member-text">
                <h4>ReturnTheBigMac</h4>
                <p>Co-Founder</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
