<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <!-- Title -->
    <title>404 Page Not Found - DankZone</title>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>
  
    <!-- ***** Header Area Start ***** -->
      <%- include('partials/header.ejs') %>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Page not Found</h2>
                        <h3>404</h3>
                        <p>
                          Oopsie doopsie! Our site has had an upsettie spaghetti.<br/>
                          Click our logo to go to the homepage.
                        </p>
                    </div>
                    <div class="get-start-area">
                    </div>
                </div>
            </div>
        </div>
      
        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInUp" data-wow-delay="0.5s">
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
      <%- include('partials/footer.ejs') %>
    <!-- ***** Footer Area Start ***** -->

    <%- include('partials/footer-scripts.ejs') %>
  
</body>

</html>
