<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DankZone</title>
    <meta http-equiv="Refresh" content="5; url=https://donorbox.org/dankzone" />
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="/css/responsive.css" rel="stylesheet">

  </head>  
  <body>
    <h1>Hold on!</h1>
    
    <p>
      <b>Hold on for a few seconds, we're redirecting you to the correct site right now!</b><br/>
      <br/>
      Or if you're really impatient just <a href="https://donorbox.org/dankzone">click here</a> to get redirected instantly.
    </p>

  </body>
</html>
