<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <!-- Title -->
    <title>Minecraft Server - DankZone</title>
    <meta http-equiv="Refresh" content="5; url=//www.dankzonemc.ml" />
</head>

<body>
  
  <h1>Please wait</h1>
  <p>
    We are redirecting you to our Minecraft server site. Please allow up to 5 seconds.
  </p>
  
</body>

</html>
