<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <!-- Title -->
    <title>Minecraft Server - DankZone</title>
</head>

<body>
  
  <h1>In development</h1>
  <p>
    The DankZone Minecraft server is still in development.<br>
    Check back later or follow our blog to know about new releases as they come out.
  </p>
  
</body>

</html>
