<section class="footer-contact-area section_padding_100 clearfix" id="contact">
    <div class="container">
         <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>We love feedback!<br/> Send us an email!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>Or contact us through one of the options below:</p>
                    </div>
                    <div class="address-text">
                        <p></p>
                    </div>
                    <div class="phone-text">
                        <p></p>
                    </div>
                    <div class="email-text">
                        <p>Primary Email: <a href="mailto:dankzonediscord@gmail.com">dankzonediscord@gmail.com</a><br/>
                        Secondary Email: <a href="mailto:dankzonediscord@outlook.com">dankzonediscord@outlook.com</a>
                      </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="mailto:dankzonediscord@gmail.com" method="post" enctype="text/plain">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name *" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail Address*" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <!-- Message Input Area End -->
                </div>
            </div>
        </div>
     </div>
</section>